@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body::-webkit-scrollbar {
    width: 5px;              /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #EEEEEE;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {/* цвет плашки */
    border-radius: 60px;       /* закругления плашки */
    border: 3px solid #F26629;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
}

.header{
    background-color: #040404;
}

.container{
    padding-right: 54px;
    padding-left: 54px;
    color: aliceblue;
    padding-top: 39px;
}

.bootmom_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.account{
    display: flex;
    align-items: center;
    gap: 14px;
}

.left_account h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu ul{
    display: flex;
    gap: 15px;
    padding-top: 45px;
}

.btn_active{
    background: #BEBCBC;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 13px;
    color: #FFFFFF;
}

.btn_active:hover{
    background: #484848;
    transition: .3s ease-in;
}

.btn_active a{
    color: #FFFFFF;
}

.btn_main{
    background: #484848;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 13px;
}

.btn_main a{
    color: #FFFFFF;
}

.btn_main:hover{
    background: #BEBCBC;
    transition: .3s ease-in;
}

.title_h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-top: 26px;
}

.scheule_cont{
    display: flex;
    align-items: center;
    gap: 40px;
}

.input{
    display: flex;
    align-items: center;
    gap: 16px;
}
.input_time{
    margin-top: 60px;
    border: 1px solid #D6D6D6;
    border-radius: 0px 5px 5px 0px;
    padding: 12px 24px;
}

.btn_here{
    padding: 12px 24px;
    background: #017AFD;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    margin-top: 60px;
}

.btn_here:hover{
    background: #0059b8;
    transition: .3s ease-in;
}

.info_scheule{
    width: 100%;
    background: #D9EDF8;
    border-radius: 10px;
    padding: 25px;
    margin-top: 25px;
}

.info_scheule p{     
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5B6F88;
}

.container{
    padding-right: 54px;
    padding-left: 54px;
    color: aliceblue;
    padding-top: 39px;
}

.bootmom_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.account{
    display: flex;
    align-items: center;
    gap: 14px;
}

.left_account h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu ul{
    display: flex;
    gap: 15px;
    padding-top: 45px;
}

.btn_active{
    background: #BEBCBC;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 13px;
    color: #FFFFFF;
}

.btn_active:hover{
    background: #484848;
    transition: .3s ease-in;
}

.btn_active a{
    color: #FFFFFF;
}

.btn_main{
    background: #484848;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 13px;
}

.btn_main a{
    color: #FFFFFF;
}

.btn_main:hover{
    background: #BEBCBC;
    transition: .3s ease-in;
}

.title_h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-top: 56px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
    color: black;
    margin-top: 81px;
    text-align: center;
    font-size: 16px;
}

.table tr{
    height: 85px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
    padding-top: 15px;
    
}

.block_info_time{
   width: 100%;
   background: #CCCCCC;
   border-radius: 5px;
   margin-top: 33px;
   padding: 25px;
}

.time{
    text-align: center;
    padding-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: #FFFFFF;
}

.txt{
    padding-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #9B9B9D;
}

.active_td{
    background-color: #FFF9E7;
}

.active_card{
    background: #5DBB29;
}

.active_p{
    color: #D9EDF8;
}